.container-about-you {
  width: 100vw;
  height: 90vh;
  max-width: fit-content;
  max-height: fit-content;
}

.g-about-you {
  display: grid;
  padding: 0px 80px 0px 80px;
  grid-template-columns: 1fr;
}

.g-about-you #about-you-title {
  padding: 40px;
  color: #00FF2A;
  font-size: 36px;
  font-weight: bold;
}

.g-about-you p {
  padding: 10px 0px 20px 0px;
  font-size: 24px;
  text-align: center;
}

#rabbit {
  padding: 40px;
}