.container-home {
  width: 100vw;
  height: 100vh;
  max-width: fit-content;
  max-height: fit-content;
}

.g-home {
  margin-top: 300px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.g-home #home-title {
  padding: 40px;
  color: #00FF2A;
  font-size: 36px;
}

.g-pills {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}