
 body {
     font-family: 'Roboto', sans-serif;
     background-color: #212121;
     color: #fddb3a;
     font-size: 16px;
     letter-spacing: 2px;
 }

img {
     border-radius: 10px;
 } 
 
 .profile-picture {
     border-radius: 50%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10%;
     width: auto;
     height: auto;
     max-width: 300px;
 }

 .profile-name {
     text-align: center;
     padding: 30px;
 }

 .links {
     text-align: center;
     margin-top: 20px;
     padding: 20px;
     border: 1px solid #f6f4e6;
     border-width: 2px;
     border-radius: 40px;
     width: 290px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 a{
     text-decoration: none;
     color: #f6f4e6;
     transition: color 1s;
 }

 .bottom-text {
     text-align: center;
     margin-top: 40px;
     font-size: 20px;
     font-weight: bold;
 }

 a:hover {
     color: black;
     background: #fddb3a;
 }